html, body {
    height: 100%;
    margin: 0;
}

/* HERO FULL SCREEN */
.hero {
    height: 100vh;
    background: url('https://cdn.visiteliti.com/article/2025-07/17/BaFEi8x7BhZG0BTL2pS3_1752748643.webp')
                center center / cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* OVERLAY */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    animation: fadeUp 1.2s ease;
}

/* ANIMATIONS */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero h1 {
    animation: fadeUp 1s ease;
}

.hero p {
    animation: fadeUp 1.4s ease;
}

.hero .btn {
    animation: fadeScale 1.8s ease;
}

@keyframes fadeScale {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
